{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<section class="about">
    <div class="container">
        <h1>Experience Timeline</h1>
        <div class="timeline">
            <div class="timeline-event" data-year="2025">
                <div class="timeline-year">2025</div>
                <div class="timeline-content">
                    <h3>Finished bachelor degree</h3>
                    <p>Graduiated UiA with a bachelor degree in computer engineering</p>
                </div>
            </div>
            <div class="timeline-event" data-year="2024">
                <div class="timeline-year">2024</div>
                <div class="timeline-content">
                    <h3>Teachers assistant</h3>
                    <p>Worked as a teachers assistant in the course network and security, where i helped new students with issues they had in the course such as using a linux vm, capturing network traffic with wireshark etc.</p>
                </div>
            </div>
            <div class="timeline-event" data-year="2023">
                <div class="timeline-year">2023</div>
                <div class="timeline-content">
                    <h3>Elite Foto</h3>
                    <p>worked with production of photos and editing them using digital tools like photoshop</p>
                </div>
            </div>
            <div class="timeline-event" data-year="2022">
                <div class="timeline-year">2022</div>
                <div class="timeline-content">
                    <h3>Rema 1000</h3>
                    <p>Worked in the grosorie store Rema 1000. Quit the job when moving away to study</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}