<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M1EJVERDSE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-M1EJVERDSE');
</script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">MyPortfolio</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Experience</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
    <p>&copy; 2025 Storm Selvig.</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/storm-selvig-4650ba1a9/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Gutteerz" target="_blank">GitHub</a>
    </div>
        <div class="privacy">
            <a href="/privacy">Privacy Policy</a>
        </div>

</footer>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</body>
</html>
