<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">MyPortfolio</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
    <p>&copy; 2024 Storm Selvig.</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/storm-selvig-4650ba1a9/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Gutteerz" target="_blank">GitHub</a>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
</body>
</html>
