{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<section class="portfolio">
    <div class="container">
        <h1>My Projects</h1>
        <div class="project-list">
            <div class="project">
                <h3>Mario Game | c++, SFML</h3>
                <p>Design and develop a 2d mario platform game</p>
                <p>Implement a scoring system that gave the player points based on coins collected</p>
            </div>
            <div class="project">
                <h3>Online mafia game | .net, React, Azure</h3>
                <p>Online hosted round based game based on the popular card game werewolf</p>
                <p>Base idea similar to kahoot where the host gets a code on screen that the users enters to join the game</p>
            </div>
            <div class="project">
                <h3>AI dashcam | Python, YOLO, FastAPI</h3>
                <p>Project to use existing dashcam and a custom AI to recognize speed signs along the road</p>
                <p>Got some hands on experience with gathering dataset and AI training with CUDA</p>
            </div>
            <!-- Add more projects as needed -->
        </div>
    </div>
</section>
{% endblock %}
